<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cquestion">

	<!-- 고객 자신이 쓴 문의글 리스트 열람 -->
	<select id="Cquestion"
		resultType="dagachi.dto.customer.Customer_Question_Dto">
		select * from customer_question
	</select>
	
	<!-- 고객이 스스로 글을 쓰는 폼 -->
	<insert id="Cwrite"
		parameterType="dagachi.dto.customer.Customer_Question_Dto">
		insert into customer_question
		(customer_WriteNo,customer_WriteTitle,customer_Content,customer_Name,date_Created,customer_Num)
		values
		(#{customer_WriteNo},#{customer_WriteTitle},#{customer_Content},#{customer_Name},#{date_Created},#{customer_Num})
	</insert>

	<!-- 고객 본인이 쓴 글을 조회 -->
	<select id="Cview" parameterType="int"
		resultType="dagachi.dto.customer.Customer_Question_Dto">
		select customer_WriteTitle, customer_Name,
		customer_Content, customer_WriteNo
		from
		customer_question where customer_WriteNo = #{customer_WriteNo}
	</select>

	<!-- 고객이 올린글 스스로 수정 -->
	<update id="Cmodify"
		parameterType="dagachi.dto.customer.Customer_Question_Dto">
		update customer_question
		set
		customer_WriteNo = #{customer_WriteNo},
		customer_WriteTitle = #{customer_WriteTitle},
		customer_Name = #{customer_Name},
		customer_Content = #{customer_Content}
		where customer_WriteNo = #{customer_WriteNo}
	</update>

	<!-- 고객이 올린글 스스로 삭제 -->
	<delete id="Cdelete" parameterType="int">
		delete from Customer_Question
		where Customer_writeNo=#{Customer_writeNo}
	</delete>

	<!-- 게시물 총 갯수 -->
	<select id="Ccount" resultType="int">
		select count(customer_WriteNo) from 
		Customer_Question
	</select>

	<!-- 게시물 목록 + 페이징 -->
	<select id="ClistPage" parameterType="hashmap"
		resultType="dagachi.dto.customer.Customer_Question_Dto">
		select customer_WriteNo, customer_WriteTitle,
		customer_Name, date_Created, customer_Num
		from Customer_Question order by customer_WriteNo
		desc limit #{displayPost},#{postNum}

	</select>

</mapper>